body,
html {
    font-family: 'Raleway', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;
    background: url(images/whiskey-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.quotes-container {}

.features-container {}

.table-container {}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #ff6305;
    color: white;
}

.navbar-btn:hover {
    background-color: #e6e6e6;
    color: #333;
    border-color: #adadad;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover {
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-style: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--orange {
    background-color: #ff6305;
}

.block-divider--short {
    width: 45px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #ff6309;
    border-color: #ff6309;
}

.btn--red:hover .btn--red:active .btn--red:focus .btn--red:active:focus {
    background-color: #ff6305;
    border-color: #ff6305;
}

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
    
    }

    .site-wide-alert {
        color: #544600;
        background-color: #eec802;
        padding: 5px 15px;
        margin-bottom: 0;
        border: 1px solid transparent;
        border-radius: 0;
    }